main.about__main.main.container
    .main__left
        img.main__left-img(src="images/bgk.webp", alt="elastic_studio")
        .main__left_icons
            a(href="#!").main__left_icons-link
                img.main__left_icons-img(src='./images/be.svg' alt='be')
            a(href="#!").main__left_icons-link
                img.main__left_icons-img(src='./images/facebook.svg' alt='facebook')
            a(href="#!").main__left_icons-link
                img.main__left_icons-img(src='./images/instagram.svg' alt='instagram')
    .main__right
        h3.main__right-title About
        p.main__right-desc   
            |Lorem ipsum dolor sit amet, consectetur 
            |adipiscing elit. Non nunc eleifend id pulvinar. 
            |Id pretium feugiat dignissim quisque. 
            |Duis purus tellus duis nunc rhoncus, ultrices 
            |id in ipsum. Eget sit tempor habitant id turpis 
            |imperdiet ut. 
        p.main__right-desc
            |If you are looking to make enquiries, 
            |kindly 
            a.main__right-link(href="./contact.html") contact 
            |us or make your booking 
            a.main__right-link(href="./book.html") here.