header.header
    nav.header__nav.container
        a(href='')
            img(src='images/logo.webp' alt='logo')
        .header__nav_menu
            .header__nav-burger
                span.header__nav-line
                span.header__nav-line
                span.header__nav-line
            ul.header__nav-list
                li
                    a.header__nav-link(href="./index.html") Home 
                li
                    a.header__nav-link(href='./book.html') Book
                li
                    a.header__nav-link(href='./contact.html') Contact
                li
                    a.header__nav-link(href='./about.html') About
